*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/
*.out
libero-object-heatmaps/
libero-spatial-visualisations/
libero_object_visualisations/
libero_spatial_visualisations/
bert-base-cased/
